<%- include("header.ejs"); %>
</header>


div class="item">
  <div class="container">
    <div class="row">

      <div class="  bg-white p-4 text-center">
        <p class="text-black lead">&ldquo;We are a team of travel enthusiasts who wish to reignite the wanderlust in you. Pack your bags and join us for a virtual world tour!!!&rdquo;</p>
        <p class="">&mdash; <em>Rhea Sharma</em>, <a href="#">Developer</a></p>
      </div>
    </div>
  </div>
</div>

<%- include("footer.ejs"); %>